body{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background:linear-gradient(#a2d2ff,#efb0c9) ;
    color: #ffffff;
}
#Fareedah{
    width: 150px;
    border: 6px solid #efb0c9;
    border-radius: 50%;
}
h1, h2, h3, h4, p{
    text-shadow: 0px 0px 1px black;
    
}
#bday-age{
    background: #efb0c9;
    padding: 4px 6px 2px 6px;
    border-radius: 5px;
    margin: 5px;
}
#bday-date{
    background: #efb0c9;
    padding: 4px 6px;
    border-radius: 5px;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#happy-img{
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 6px;
    background-image:url('Images/Gift cover 3.jpg') ;
    background-size: cover;
    margin: 0px auto;
}
.happy-gif{
    margin-top: 50px;
    margin-bottom: 20px;
}
.happy-hint{
   margin-top:  0px;
}
#happy-img:hover{
    background-image:url('Images/Happy 2.webp') ;
}
.hot-gif{
    margin-top: 50px;
    margin-bottom: 20px;
}
#hot-img{
    width: 400px;
    height: 400px;
    border: 6px solid white;
    background-image:url('Images/Gift\ cover.jpg');
    background-size: cover;
    margin: 0px auto;
}
#hot-img:hover{
    background-image: url(Images/Hot.webp);
}
.genius-gif{
    margin-top: 50px;
    margin-bottom: 20px; 
}
#genius-img{
    width: 400px;
    height: 400px;
    border: 6px solid white;
    background-image:url('Images/Gift cover 3.jpg');
    background-size: cover;
    margin: 0px auto 20px auto;
}
#genius-img:hover{
    background-image: url('Images/Genius\ Louis.jpg');
    width: 500px;
}
.badass-gif{
    margin-top: 50px;
    margin-bottom: 20px; 
}
#badass-img{
    width: 400px;
    height: 400px;
    border: 6px solid white;
    background-image:url('Images/Gift\ cover\ 4.jpg');
    background-size: cover;
    margin: 0px auto 20px auto;
}
#badass-img:hover{
    background-image: url('Images/Snapchat-545696113.jpg'); 
    width: 300px;
    background-size:  cover;
}
.cheers-gif{
    margin-top: 50px;
    margin-bottom: 20px; 
}
#cheers-img{
    width: 400px;
    height: 200px;
    border: 6px solid white;
    background-image:url('Images/Gift\ cover\ 3.jpg');
    background-size: cover;
    margin: 0px auto 30px auto;
}
#cheers-img:hover{
    background-image: url('Images/cheers.webp'); 
    width: 400px;
    background-size:  cover;
}
#footer{
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}
a {color: white;

}